.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-right 0.3s ease;
}

@media (min-width: 501px) {
  body.chat-panel-open .app {
    margin-right: 400px;
  }
}

main {
  flex: 1;
}

@media (max-width: 900px) {
  main {
    padding-top: var(--nav-height);
  }
}
